## Strava Analysis, using python and jupyter notebook to save paying the annual premium membership

1. Import and prepare the data for analysis
2. Analyse the strava activity data for 2019
3. Review training period for BVRT 2019
4. Visualise the analysis

In [35]:
import pandas as pd
import datetime
import matplotlib.pyplot as plt
%matplotlib inline

## Import the activity data and cleanse the data for analysis

1. changing column headers to lower case
2. striping out the whitespace
3. Replacing spaces with underscores
4. Converting the activity date from a string to date time
5. Create new date dimension for analysis purposes
6. Create dataframe for analysis

In [36]:
df = pd.read_csv('activities.csv')

In [37]:
df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_').str.replace('(', '').str.replace(')', '')

In [38]:
df['activity_date'] = pd.to_datetime(df['activity_date'])
df['year'] = pd.DatetimeIndex(df['activity_date']).year
df['month'] = pd.DatetimeIndex(df['activity_date']).month
df['year_month'] = pd.to_datetime(df['activity_date']).apply(lambda x: '{year}-{month}'.format(year=x.year, month=x.month))

In [39]:
data = pd.DataFrame(df, columns=['activity_date','activity_type','elapsed_time','distance','relative_effort','commute','moving_time','elevation_gain','elevation_loss','max_grade','average_grade','average_heart_rate','calories','year','month','year_month'])

### Exploring the 2019 Running activities

1. Create dataframe for 2019 activities
2. Look at monthly volume
3. Look at vertical gain to gauge how much this helps overall training
4. Compare the 12 week training block for BVRT

In [40]:
data = data[data['year']==2019]

In [41]:
data.groupby('activity_type').sum()

,elapsed_time,distance,relative_effort,moving_time,elevation_gain,elevation_loss,max_grade,average_grade,average_heart_rate,calories,year,month
activity_type,,,,,,,,,,,,
Run,1165950,3263.53,3825.0,1127164.0,26910.839754,8732.0,3068.199999,-0.608443,9319.0,258274.83662,553206,1777

In [43]:
data[data['activity_type']=='Run'].groupby('month').sum()

,elapsed_time,distance,relative_effort,moving_time,elevation_gain,elevation_loss,max_grade,average_grade,average_heart_rate,calories,year
month,,,,,,,,,,,
1,94560,269.68,0.0,91226.0,4011.023277,0.0,749.599998,0.155357,0.0,21709.000000,46437
2,92094,252.28,0.0,86817.0,3860.089386,0.0,774.200003,-0.061192,0.0,20375.000000,48456
3,99195,275.64,0.0,97228.0,4513.778149,0.0,739.499997,0.195141,0.0,21987.302002,44418
4,114464,328.02,0.0,111387.0,4904.748258,0.0,804.900002,-0.636119,0.0,26360.000000,48456
5,118483,335.09,0.0,116156.0,759.000000,796.0,0.000000,0.000000,0.0,26952.000000,48456
6,144738,372.76,0.0,138073.0,2034.200684,1036.0,0.000000,-0.261629,0.0,32175.408764,36342
7,58038,168.33,0.0,55747.0,0.000000,0.0,0.000000,0.000000,0.0,14055.000000,30285
8,100338,281.85,0.0,97271.0,0.000000,0.0,0.000000,0.000000,0.0,23904.000000,58551
9,103255,304.42,0.0,99783.0,0.000000,0.0,0.000000,0.000000,0.0,25956.000000,56532
10,105657,312.45,1535.0,103235.0,2752.000000,2790.0,0.000000,0.000000,4057.0,19351.000000,58551
11,72294,200.66,1293.0,70534.0,1973.000000,1960.0,0.000000,0.000000,2648.0,13593.000000,38361
12,62834,162.35,997.0,59707.0,2103.000000,2150.0,0.000000,0.000000,2614.0,11857.125854,38361